<div class="container-fluid">
       <div class="row">
              <div class="col-md-4" style="background: rgb(234, 234, 234);height: 100vh;">

                <form [formGroup]="form" >
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>Todo </mat-label>
                      <input formControlName="item" matInput placeholder="Ex. Daily Task" value="task">
                    </mat-form-field>
                    <div>
                        <button *ngIf="!isEditEnabled"(click)="addTask()" mat-button color="red" style="background-color: rgb(66, 66, 236);" [disabled]="form.invalid">Add</button>
                        <button *ngIf="isEditEnabled"(click)="updateTask() " mat-button color="success" style="background-color: rgb(66, 236, 151);" [disabled]="form.invalid">Update</button>
                  </div>
                </form> 
                  

              </div>
              <div class="col-md-8">

                <mat-list *ngFor="let item of task; let i = index" dense>
                    <mat-list-item> {{item.description}} 
                        <div class="box">
                            <button mat-icon-button (click)="delTask(i)" mat-button color="warn" [disabled]="form.invalid"><mat-icon>delete</mat-icon></button>
                            <button mat-icon-button (click)="editTask(item,i)" mat-button color="primary" [disabled]="form.invalid"><mat-icon>edit</mat-icon></button>
                        </div>
                    </mat-list-item>
                    
                   </mat-list>

              </div>
                  
              
       </div>
</div> 
